body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    color: #333;
}

h1, h2, h3 {
    color: #1a5276;
}

hr {
    border: 2px solid #3498db;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ContactDetails, .EducationDetails, .ExperienceDetails, .ProjectsDetails {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 2px solid #3498db;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

a {
    color: #1a5276;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
    table {
        width: 100%;
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
